@model IEnumerable<APPR_POE.Models.Disaster>

@{
    ViewData["Title"] = "Index";
}

<div id="div_Disasters">
    <label class="h1">
        Disasters
    </label>
    <a asp-action="Create" class="btn btn-success" style="float: right;">
        <i class="bi bi-plus-circle"></i>
        Add Disaster
    </a>
    <div id="div_top">
        <table id="table_head">
            <thead>
                <tr>
                    <td style="width: 10%;">
                        Start Date
                    </td>
                    <td style="width: 10%;">
                        End Date
                    </td>
                    <td style="width: 15%;">
                        Location
                    </td>
                    <td style="width: 25%;">
                        Description
                    </td>
                    <td style="width: 25%;">
                        Required Aids
                    </td>
                    <td style="width: 10%; text-align: center;">
                        Details
                    </td>
                </tr>
            </thead>
        </table>
    </div>
    <div id="div_bottom">
        <table id="table_body">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width: 10%;">
                            <label>@item.start_date.ToShortDateString()</label>
                        </td>
                        <td style="width: 10%;">
                            <label>@item.end_date.ToShortDateString()</label>
                        </td>
                        <td style="width: 15%;">
                            <label>@item.location</label>
                        </td>
                        <td style="width: 25%;">
                            @if (item.description.Length < 35)
                            {
                                <label>
                                    @item.description
                                </label>
                            }
                            else
                            {
                                <label>
                                    @item.description.Substring(0, 31)
                                    ...
                                </label>
                            }
                        </td>
                        <td style="width: 25%;">
                            @if (item.aid_types.Length < 35)
                            {
                                <label>
                                    @item.aid_types
                                </label>
                            }
                            else
                            {
                                <label>
                                    @item.aid_types.Substring(0, 31)
                                    ...
                                </label>
                            }
                        </td>
                        <td style="width: 10%; text-align: center;">
                            <a style="width: 100%;" class="btn btn-primary" asp-action="Details" asp-route-id="@item.id">
                                <i class="bi bi-info-circle"></i>
                                Details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    #div_Disasters {
        height: 100%;
        margin: auto;
        padding: 2%;
        color: white;
    }

    #div_Disasters {
        background: rgba( 0, 0, 0, 0.3 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    #div_top {
        width: 100%;
    }

    #table_head {
        width: 100%;
        border-radius: 15px 15px 0 0;
        overflow: hidden;
    }

        #table_head thead {
            color: white;
            background-color: #6600FF;
            font-weight: bold;
        }

        #table_head tr {
        }

        #table_head td {
            padding: 1%;
            padding-top: 2%;
            padding-bottom: 2%;
        }

    #div_bottom {
        width: 100%;
        border-radius: 0px 0px 15px 15px !important;
        max-height: 55vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #table_body {
        width: 100%;
    }

        #table_body tbody {
        }

        #table_body tr:nth-child(even) {
            background: rgba( 74, 74, 74, 0.3 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 10px );
            -webkit-backdrop-filter: blur( 10px );
            border-radius: 10px;
            /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
        }

        #table_body tr:nth-child(odd) {
            background: rgba( 155, 155, 155, 0.3 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 10px );
            -webkit-backdrop-filter: blur( 10px );
            border-radius: 10px;
            /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
        }

        #table_body td {
            padding: 1%;
        }

            #table_body td a {
                width: 45%;
            }

    #form_details {
        width: 100%;
    }

        #form_details button {
            width: 50%;
        }
</style>